* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url(https://png.pngtree.com/background/20210710/original/pngtree-christmas-background-panel-design-picture-image_978151.jpg);
  background-repeat: no-repeat;
  background-size: fill;
}

html,
body,
#root {
  height: 100%;
  backdrop-filter: blur(10px);
}

#root {
  display: grid;
  place-content: center;
}

.App {
  background-color: #fafafa;
  border-radius: 20px;
  padding: 24px;
}

h1 {
  font-size: 4rem;
  font-family: "Mountains of Christmas", cursive;
}

ul {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

li {
  list-style: none;
  margin-bottom: 10px;
}
